body {
  direction: rtl;
  font-family: "FontRegular", Arial;
  background-color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}
.no-scroll {
  overflow-y: scroll;
  pointer-events: none;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
//////////////////
////Fonts */
@font-face {
  font-family: "FontMedium";
  font-style: normal;
  font-weight: 400;
  src: local("FontMedium"), url("../../fonts/iranyekanMedium.woff"),
    format("woff2");
}
.fontMedium {
  font-family: "FontMedium";
}
@font-face {
  font-family: "FontRegular";
  font-style: normal;
  font-weight: 400;
  src: local("FontRegular"), url("../../fonts/iranyekanRegular.woff2"),
    format("woff2");
}
.fontRegular {
  font-family: "FontRegular";
}

@font-face {
  font-family: "FontBold";
  font-style: normal;
  font-weight: 400;
  src: local("FontBold"), url("../../fonts/iranyekanBold..woff2"),
    format("woff2");
}
.fontBold {
  font-family: "FontBold";
}

@font-face {
  font-family: "FontExtrabold";
  font-style: normal;
  font-weight: 400;
  src: local("FontExtrabold"), url("../../fonts/iranyekanExtrabold.woff"),
    format("woff2");
}
.FontExtrabold {
  font-family: "FontExtrabold";
}

/* //////////////
////end of Fonts */

/* ////////////
////navbar modal css */

.animate1 {
  animation: move-to-top ease-in-out 3s forwards;
}
.animate2 {
  animation: move-to-bottom ease-in-out 3s forwards;
}
.dark-bg-first {
  animation: dark-bg-first 0.15s forwards;
}
.dark-bg-second {
  animation: dark-bg-second 0.15s forwards;
}

@keyframes move-to-top {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@keyframes move-to-bottom {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
@keyframes dark-bg-first {
  0% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 30;
  }
}
@keyframes dark-bg-second {
  0% {
    opacity: 1;
    z-index: 30;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
.overflow-y-auto::-webkit-scrollbar {
  display: none;
}
.overflow-y-auto {
  scroll-behavior: smooth;
}

.navbar-element {
  position: relative; /* Needed for pseudo-element */
}
.navbar-element::after {
  margin: -5px 0;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Initial width */
  height: 2px; /* Border thickness */
  background: linear-gradient(to right, red, red); /* Gradient border */
  transition: width 0.35s ease; /* Smooth transition effect */
}
.navbar-element:hover::after {
  width: 100%; /* Full width on hover */
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-down-anim {
  animation: slide-down cubic-bezier(1, 0, 0, 1) 0.35s forwards;
}

/* //////////
////product groups */
/* .province-scroll::-webkit-scrollbar {
position: absolute;
 left: 30px;
} */
/* .fill-height-or-more {
  display: flex;
  flex-direction: column;
}

.fill-height-or-more > div {
  flex: 1;
  display: flex;
  width: 25%;
  flex-direction: column;
} */
.image-logoEnglish-size {
  height: auto;
  width: auto;
}

/* //////////////// */
/* ///end of navbar modal css */

.swiper-button-next {
  height: 30px !important;
  width: 30px !important;
  padding: 18px !important;
  border-radius: 100%;
  background-color: white;
  border: 1px solid rgb(187, 187, 187);
  position: absolute;
  z-index: 50;
}
.swiper-button-next::after {
  content: "prev" !important; /* Replace with your desired icon or Unicode character */
  font-size: 15px !important; /* Adjust the font size as needed */
  color: gray !important;
}
.swiper-button-next:hover::after {
  color: black !important;
  font-size: 17px !important;
  padding: 14px !important;
}
.swiper-button-prev {
  height: 30px !important;
  width: 30px !important;
  padding: 18px !important;
  border-radius: 100%;
  background-color: white;
  border: 1px solid rgb(187, 187, 187);
}
.swiper-button-prev::after {
  content: "next" !important; /* Replace with your desired icon or Unicode character */
  font-size: 15px !important; /* Adjust the font size as needed */
  color: gray !important;
}
.swiper-button-prev:hover::after {
  color: black !important;
  font-size: 17px !important;
  padding: 14px !important;
}
@media (max-width: 1023px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

/* 
//////////////
/////css for slides section */
.swiper-pagination-bullet-active {
  width: 15px !important;
  border-radius: 10px !important;
}

/* end of css of sliders section */

/* amazing section css */
.animate-to-top {
  animation: move-to-top1 ease-in-out 0.3s forwards;
}
.animate-to-bottom {
  animation: move-to-bottom1 ease-in-out 0.3s forwards;
}

@keyframes move-to-top1 {
  0% {
    top: 101%;
  }
  100% {
    top: 0;
  }
}
@keyframes move-to-bottom1 {
  0% {
    top: 0%;
  }
  100% {
    top: 101%;
  }
}

/*end of amazing section css */

/* supermarket modal section css */
.animateToTop {
  animation: move-to-top2 ease-in-out 0.3s forwards;
}
.animateToBottom {
  animation: move-to-bottom2 ease-in-out 0.3s forwards;
}

@keyframes move-to-top2 {
  0% {
    top:101%
  }
  100% {
    top: 68%;
  }
}
@keyframes move-to-bottom2 {
  0% {
    top: 68%;
  }
  100% {
    top: 101%;
  }
}

/*end of supermarket modal section css */




/* //////////// */
/* ///fixed component style */
.navbarBottomItem:after{
  display:block;
  content:"";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, .1);
  position: absolute;
  transition: width .3s;
  filter: blur(1px);

} 
.navbarBottomItem:hover:after {
  -webkit-animation: navbarAnim 0.3s linear;
  animation: navbarAnim 0.3s linear;
}

@keyframes navbarAnim {
  0% {
    width: 0;
    opacity: 1;
  }

  to {
    width: 100%;
    opacity: 0;
  }
}



.directionLtr{
  direction: ltr;
}

/* end of fixed component style */


